* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #2a7ec8;
}

.container {
    padding: 64px;
}

.container-img{
    margin: auto;
}

.container-darker{
    background-color:#f1f1f1
}

.container .container-title{
    padding: 20px 0 0 20px;
    margin: 0;
}

.container .content-text {
    text-align: justify;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.col-1{ width: 8.33 }
.col-2{ width: 16.66% }
.col-3{ width: 25% }
.col-4{ width: 33.33% }
.col-5{ width: 41.65% }
.col-6{ width: 50% }
.col-7{ width: 58.33% }
.col-8{ width: 66.66% }
.col-9{ width: 75% }
.col-10{ width: 83.33% }
.col-11{ width: 91.66% }
.col-12{ width: 100% }

[class^="col-"]{
    float: left;
    padding: 20px;
}

.large-font {
    font-size: 48px;
}

.notthatlarge-font {
    font-size: 32px;
}

.xlarge-font {
    font-size: 64px
}

.button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
}

.button:hover{
    cursor: pointer;
    opacity: 0.9;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.social-icon {
    font-size: 32px;
    padding: 5px;
    color: #838383;
}

.social-icon:hover {
    color: mediumseagreen;
    cursor: pointer;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 33px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.more_text {
    display: none;
}

footer{
    width: 100%;
    background-color:#f7f7f7;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color:dimgray;
}

footer a{
    color: #457baa;
    text-decoration: none;
}

#navbar {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

#navbar a {
    /* float: left; */
    /* display: block; */
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover{
    font-weight: bold;
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0px 4px -1px #555;
}

.sticky + .container {
    padding-top: 60px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
  }
  
.card .subtitle {
    color: grey;
    font-size: 18px;
}

.card .description{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
  
.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card a {
    text-decoration: none;
    color: #196ff1;
}
  
.card button:hover, a:hover {
    opacity: 0.7;
}

.card .image{
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    border-bottom: 3px solid #196ff1;
}

.card .image img {
    margin: auto;
}

@media screen and (max-width: 1000px) {
    [class^="col-"] {
        width: 100%;
        text-align: center;
    }
    img {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0;
    }
    [class^="col-"] {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .notthatlarge-font {
        font-size: 6vw;
    }
    .large-font {
        font-size: 10vw;
    }
    .container .container-title{
        text-align: center;
        padding: 10px 10px 0 10px;
    }
    .container .container-img{
        padding: 20px;
        max-width: 100%;
    }
    .button{
        margin-bottom: 5px;
        width: 100%;
    }

    .card .button{
        margin: 0px;
    }
}
